// fonts
$font-size-large: 26px;
$font-size-medium: 20px;
$font-size-small: 15px;

// margins
$margin-large: 50px;
$margin-medium: 30px;
$margin-small: 25px;
$margin-tiny: 20px;

// padding
$padding-medium: 20px;
$margin-small: 10px;

// colors
$background-color-body: #55a8dc;
$background-color-button: #00ffee;
$background-color-container: #fff;

// border colors
$border-color-container: #841e1e;

// container sizes
$container-width: 400px;
$container-height: 400px;
