.game-q-a{  

}


.game-score {
    
}

#home-screen {
    text-align: center;
    padding:10px;

}

ul {
    list-style-type: none;
    
}

li {
    display: inline-block;
    padding:20px;
    
}

a {
    font-weight: bold;
    text-decoration: none;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #55dc61;
}

#game-container {
    width: 400px;
    height: 400px; 
    border: 2px solid #841e1e; 
    padding: 20px; 
    background-color: #fff; 
}